.wrapper {
	box-sizing: border-box;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
}

.upload {
	position: absolute;

	top: 0;
	left: 0;

	opacity: 0;
	visibility: hidden;
}

.fantom {
	max-width: 200px;
	width: 100%;

	padding: 5px;

	text-align: center;

	cursor: pointer;
	box-sizing: inherit;
}

.fantom__text {
	margin: 0;

	padding: 5px;

	font-size: 18px;

	border: 1px solid #000000;
	border-radius: 10px;

	box-sizing: inherit;
}

.fantom__file-name {
	font-size: 13px;

	box-sizing: inherit;
}

.button {
	padding-left: 10px;
	padding-right: 10px;

	margin-top: 15px;
	margin-left: 20px;

	line-height: 30px;

	background-color: transparent;

	border: 1px solid #000000;
	border-radius: 7px;

	cursor: pointer;
}
