.wrapper {
	box-sizing: border-box;
	width: 100%;

	padding: 15px;

	border: 1px solid #000000;
	border-radius: 10px;
}

.input {
	display: block;
	box-sizing: inherit;

	width: 100%;

	padding-left: 10px;
	padding-right: 10px;

	font-size: 18px;
	line-height: 30px;

	background: none;
}
